body {
    background-color: rgb(238, 216, 198);
    font-family:Arial;
    margin:0px;
    padding:0px;
    z-index:10;
    pointer-events:auto;
}

.container-header {
    width: 100vw;
    height:10px;
    position:relative;
    transition: transform .4s ease;
}

.header {
    position:absolute;
    display:flex;
    background-color:white;
    box-shadow: 5px 5px black;
    justify-content:space-around;
    width: 100vw;
    height:100%;
    visibility:hidden;
    opacity:0;
    transition: opacity 0.4s ease, visibility 0.4s ease, transform .4s ease;
}

.center-box {
    display:grid;
    place-items:center;
    min-height:100vh;
    justify-items:center;
}
.white-box {
    justify-items:center;
    background-color:white;
    border:1px solid black;
    box-shadow: 5px 5px black;
    padding:10px;
}
.white-box > * {
    padding:10px;
}
.h1-text {
    font-weight:normal;
}
.button {
    position:relative;
    background-color:white;
    border:1px solid black;
    box-shadow:5px 5px black;
    transition: transform .4s box-shadow .4s;
    transition-duration:.4s;
    padding:10px;
}
.button:hover {
    transform: translate(5px, 5px);
    box-shadow:none;
}

.container-header:hover {
    transform:translateY(20px);
}

.container-header:hover .header{
    visibility:visible;
    opacity:1;
    /* transform:translateY(20px); */
}
.resume:hover {
    background-color:rgb(123, 71, 64);
    color:white;
}
.linkedin:hover {
    background-color:rgb(0, 123, 255);
    color:white;
}
.github:hover {
    background-color: purple;
    color:white;
}
.repo-btn:hover {
    background-color: purple;
    color:white;
}
.email:hover {
    background-color:green;
    color:white;
}
.demo-btn:hover {
    background-color:green;
    color:white;
}
.break {
    color:black;
    border-bottom: 1px solid black;
    width:100%;
}
.crop {
    width:400px;
    height:225px;
    overflow:hidden;
    border:1px solid black;
    box-shadow:5px 5px black;
}
/* .crop img {
    width:800px;
    height:550px;
    margin: -75px 0 0 -100px;

} */
.project {
    width:50%;
}